[submodule "libsignal-protocol-c"]
	path = libsignal-protocol-c
	url = https://github.com/signalapp/libsignal-protocol-c.git
[submodule "saw-script"]
	path = saw-script
	url = https://github.com/GaloisInc/saw-script.git
