[submodule "libsignal-protocol-c"]
	path = libsignal-protocol-c
	url = https://github.com/signalapp/libsignal-protocol-c.git
[submodule "galois-py-toolkit"]
	path = galois-py-toolkit
	url = https://github.com/GaloisInc/galois-py-toolkit.git
